.form_element {
	margin: 0 0 10px;
}

input[type=text],
input[type=password],
textarea {
	width: 198px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	
	padding: 3px;
	
	border: 1px solid #DDD;
	color: #9C9C9C;
	display: block;
}
select {
	border: 1px solid #ccc;
}

label {
	float: left;
	color: #999;
	font-size: 18px;
	line-height: 18px;
	font-family: Geogia, "Times New Roman", Times, serif;
	margin: 0 5px 0 0;
}

.cfclear {
	clear: both;
	height: 1px;
}
.chronoform { display: none; }