body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	background: url(../images/bg_blundy.gif);
	color: #666;
}

#wrapper {
	width: 766px;
	margin: 0 auto;
}

	#header {
		background: url(../images/bg_top.png) no-repeat;
		padding: 66px 0 0;
	}
	#header > div {
		background: url(../images/bg_main.gif);
		padding: 0 18px 10px;
	}
	#menu {
		background: url(../images/bg_main.gif);
		padding: 0 18px;
	}
	#menu .menu.sub { width: 718px; }
	#body {
		background: url(../images/bg_main.gif);
		padding: 5px 18px 18px;
	}
	#body > div {
		border: 1px solid #eee;
		padding: 10px;
	}
	body.home #body > div {
		border: none;
		padding: 0;
	}
	
		#content {
			float: left;
			width: 445px;
			margin-right: 11px;
		}
		#content.wide {
			margin-right: 0;
			width: 100%;
		}
		#sidebar {
			float: left;
			width: 230px;
			
			border: 1px solid #E9E9E9;
			padding: 10px;
			
		}
	#footer {
		background: url(../images/bg_shadow_bottom.gif) no-repeat;
		padding: 10px 5px;
		font-size: 10px;
	}
	#footer .left {
		color: #fff;
		background-color: #030;
		padding: 2px;
	}
	#footer .right a {
		color: #fff;
		background-color: #c90;
		padding: 2px;
	}
