.moduletable {
	margin: 0 0 1em;
}

#header .moduletable,
#menu .moduletable { margin: 0; }


/* @group menu */
.moduletable.menu {
	margin: 0;
	padding: 0;
	
	position: relative;
}


.moduletable.menu ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.moduletable.menu li {
	float: left;
	padding: 0 5px;
	margin: 0;
}
/* @group footer menu */
#footer .moduletable.menu {
	padding: 2px;
}
#footer .moduletable.menu li:first-child {
	margin-left: 10px;
}
/* @end */
/* @group main menu */
.moduletable.menu.main {
	text-align: center;
	text-transform: uppercase;
	line-height: 42px;
	font-size: 15px;
}

.moduletable.menu.main li {
	background: url(../images/menu_bg.gif) repeat-x;
	padding: 0;
}

.moduletable.menu.main li > span,
.moduletable.menu.main li > a {
	color: #333;
	display: block;
	padding: 0 19px;
	
	background: url(../images/menu_cap.gif) left no-repeat;
}

.moduletable.menu.main li.active,
.moduletable.menu.main li:hover {
	background-image: url(../images/menu_bg-over.gif);
}

.moduletable.menu.main li.active > span,
.moduletable.menu.main li.active > a,
.moduletable.menu.main li:hover > span,
.moduletable.menu.main li:hover > a {
	text-decoration: none;
	background-image: url(../images/menu_cap-over.gif);
}

.moduletable.menu.main li.first > span,
.moduletable.menu.main li.first > a {
	background-image: url(../images/menu_cap_first.gif);
}
.moduletable.menu.main li.first.active > span,
.moduletable.menu.main li.first.active > a,
.moduletable.menu.main li:hover.first > span,
.moduletable.menu.main li:hover.first > a {
	background-image: url(../images/menu_cap_first-over.gif);
}

.moduletable.menu.main li.last > span,
.moduletable.menu.main li.last > a {
	background-image: url(../images/menu_cap_last.gif);
	background-position: right;
}
.moduletable.menu.main li.last.active > span,
.moduletable.menu.main li.last.active > a,
.moduletable.menu.main li:hover.last > span,
.moduletable.menu.main li:hover.last > a {
	background-image: url(../images/menu_cap_last-over.gif);
	background-position: right;
}

/* @end */
/* @group subnav */
.moduletable.menu.sub {
	background: #FFF1B7;
	border: 1px solid #FAE691;
	border-top: none;
	padding: 5px;
}

.moduletable.menu.sub ul li {
	color: #060;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 0 3px 0 3px;
	margin: 0 10px 0 0;
	
	background: none;
}

.moduletable.menu.sub li.active {
	background-color: white;
}
/* @end */
/* @group drop menu */
.moduletable.dropmenu li {
	position: relative;
}
.moduletable.dropmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	
	display: none;
}
.moduletable.dropmenu ul li:hover ul {
	display: block;
}
.moduletable.dropmenu li li {
	float: none;
}

/* @end */
/* @end */