/* Editor Styles */

.divider-block {
	background: url(../images/divider.jpg) left top no-repeat;
	float: left;
	padding: 0 0 0 30px;
	width: 185px;
}
.divider-block:first-child {
	background: none;
	padding: 0;
}