body {
	background: url(../images/body-bg.png) 0 249px repeat-x;
	font-family: "trajan-pro-1","trajan-pro-2";
}

#wrapper {
	background: url(../images/wrapper-bg.jpg) center 249px no-repeat;
	font-size: 14px;
}

#wrapper > div {
	margin: 0 auto;
	width: 950px;
}  


#header {
	height: 213px;
}

#menu { 
	height: 46px;
}

#body {
	color: white;
	min-height: 240px;
	padding: 40px 0 50px;
	position: relative;
}

#bottom1 {}
#bottom2 { padding-bottom: 1em; }
#footer { padding-bottom: 2em; }