html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
body{background:url(../images/body-bg.png) 0 249px repeat-x;font-family:"trajan-pro-1","trajan-pro-2";}
#wrapper{background:url(../images/wrapper-bg.jpg) center 249px no-repeat;font-size:14px;}
#wrapper>div{margin:0 auto;width:950px;}
#header{height:213px;}
#menu{height:46px;}
#body{color:white;min-height:240px;padding:40px 0 50px;position:relative;}
#bottom2{padding-bottom:1em;}
#footer{padding-bottom:2em;}
.moduletable.menu ul{list-style:none;}
.moduletable.menu li{background:red;float:left;padding:0 0 0 30px;}.moduletable.menu li>span,.moduletable.menu li>a{background:green;color:#231f20;display:block;padding:0 30px 10px 0;text-decoration:none;}
.moduletable.menu li span span,.moduletable.menu li a span{display:block;font-size:17px;line-height:36px;}
.moduletable.menu li.active,.moduletable.menu li:hover{background:url(../images/menu-sprite.png) 0 0 no-repeat;}
.moduletable.menu li.active>span,.moduletable.menu li.active>a,.moduletable.menu li:hover>span,.moduletable.menu li:hover>a{background:url(../images/menu-sprite.png) right -46px no-repeat;color:white;}
#bottom1 .moduletable{float:left;padding-left:10px;}
#bottom1 .moduletable:first-child{padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:55px;margin-bottom:60px;}
.left{float:left;}
.right{float:right;}
.clear,.clr{clear:both;}
.hidden{display:none;}
.divider-block{background:url(../images/divider.jpg) left top no-repeat;float:left;padding:0 0 0 30px;width:185px;}
.divider-block:first-child{background:none;padding:0;}
