.com_calendar .daily_image h1 {
	color: white;
}

.com_calendar .daily_image .link,
.com_calendar .daily_image .link a {
	color: white;
	font-size: 15px;
}
.com_calendar .daily_image a {
	color: white;
}

.daily_image {
	position: relative;
	overflow: hidden;
}

.daily_image .image {
	
}
.daily_image .image img { display: block; }

.daily_image .description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	color: white;
	background:  url(../images/description_bg.png);
}

.daily_image .description > div{
	padding: 5px 10px;
}

.com_calendar .days {
	list-style: none;
	margin-left: 3px;
}

.com_calendar .days li {
	float: left;
	margin: 3px;
	position: relative;
	border: 2px solid #C2398E;
}
.com_calendar .days li.active { border: 2px solid green; }

.com_calendar .days li a { color: white; }
.com_calendar .days li:hover { border-color: #F07C22; }
.com_calendar .days li a:hover { text-decoration: none; }


.com_calendar .days li .description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background:  url(../images/description_bg.png);
	color: white;
}
.com_calendar .days li .description > div { padding: 5px; }
.com_calendar .days li a { display: block; }

.com_calendar .days li .date {
	position: absolute;
	top: 0px;
	left: 5px;
	
	color: #478840;
	font-size: 2em;
	font-weight: bold;
}

.com_calendar .days img {
	display: block;
}

.com_calendar .pick-your-day .days input[type="radio"]:checked + label img {
	border-color: red;	
}