html, body {
	height: 100%;
}


body {
	background: #010101 url(../images/splash.jpg) no-repeat -450px -200px;
	color: white;
	font-family: AvantGarde, 'sans-serif';
	font-size: 12px;
}

body .wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	width: 970px;
	margin: 0 auto;
}

.mainmenu {
	width: 948px;
	margin: 0 auto;
	
	padding: 11px;
	background: url(../images/body_bg.png) repeat-y;
}
.mainmenu > div {
	background: #262626;
}

.body {
	width: 948px;
	margin: 0 auto;
	padding: 11px;
	background: url(../images/body_bg.png) repeat-y;
}

.body > div {
	background: url(../images/component_bg_top.png) no-repeat top;
	padding: 33px 0 0;
}
.body > div > div {
	background: url(../images/component_bg_bottom.png) no-repeat bottom  ;
	padding: 0 0 49px;
}
.body > div>div>div { 
	background: url(../images/component_bg.png);
	padding: 10px;
}

.bottom {
	width: 970px;
	margin: 0 auto;
}

.footer_spacer { height: 140px; width: 100%; }
.footer {
	background: url(../images/footer.png) repeat-x center top;
	height: 140px;
	width: 100%;
	
	position: absolute;
	bottom: 0;
	left: 0;
}





/* temp */
.body > div>div>div { min-height: 400px; }