html, body {
	height: 100%;
}


body {
	background: #010101 url(../images/splash.jpg) no-repeat -450px -200px;
	color: white;
	font-family: AvantGarde, "sans-serif";
	font-size: 12px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#body {
	width: 970px;
	margin: 0 auto;
	padding: 0 0 4px;
	
	background: url(../images/body_bg_bottom.png) bottom no-repeat;
}

#header {
	position: relative;
	background: url(../images/body_bg_top.png) center 130% repeat-x;
	zoom: 1;
}
body.home #header { background-position: center bottom; }

#body > .inner { 
	background: url(../images/body_bg.png) repeat-y;
	padding: 0 11px 11px;
	zoom: 1;
}

#menu {
	margin: 0 0 11px;
}
#menu > .inner {
	background: #262626 url(../images/menu_shadow.png) bottom repeat-x;
	padding: 0 0 14px;
	height: 64px;
	width: 100%;
}

#content {
	background: url(../images/component_bg_top.png) no-repeat top;
	padding: 33px 0 0;
	position: relative;
}
#content > div {
	background: url(../images/component_bg_bottom.png) no-repeat bottom  ;
	padding: 0 0 49px;
}
#content > div > div {
	background: url(../images/component_bg.png);
	padding: 1px 10px;
}

#component { 
	float: left;
	width: 685px;
}
#component.wide { width: 100%; }
#sidebar { 
	float: left;
	width: 210px;
	background: url(../images/sidebar_bottom_bg.png) left bottom no-repeat;
	padding: 0 0 300px;
	margin-left: 30px;
}
#sidebar > div {
	background: url(../images/sidebar_bg.png) 0 0 repeat-y;
	padding: 0 0 0 35px;
}

#social {
	position: absolute;
	bottom: -10px;
	right: 0;
}
#social_spacer { height: 171px; width: 100%; }


#bottom { position: relative; }
#bottom > .inner {
	background: url(../images/bottom_shadow.png) bottom repeat-x;
	padding: 0 0 13px;
	height: 345px;
}

#footer_spacer { height: 140px; width: 100%; }
#footer {
	background: url(../images/footer.png) repeat-x center top;
	height: 140px;
	width: 100%;
	
	
	position: absolute;
	bottom: 0;
	left: 0;
}
#footer > .inner {
	width: 970px;
	margin: 0 auto;
	padding: 55px 0 0;
}