html, body {
	height: 100%;
}


body {
	background: #010101 url(../images/splash.jpg) no-repeat 0 0;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#body {
	width: 970px;
	margin: 0 auto;
	padding: 0 0 4px;

	background: url(../images/body_bg_bottom.png) bottom no-repeat;
}

#header {
	position: relative;
	background: url(../images/body_bg_top.png) center 130% repeat-x;
	min-height: 200px;
	zoom: 1;
}
body.home #header { background-position: center bottom; }

#body > .inner {
	background: url(../images/body_bg.png) repeat-y;
	padding: 0 11px;
	zoom: 1;
}

#menu {
	margin: 0 0 11px;
}
#menu > .inner {
	background: url(../images/menu_shadow.png) bottom repeat-x;
	padding: 0 0 8px;
	height: 32px;
	width: 100%;
}

#content {
	background: url(../images/component_bg_top.png) no-repeat top;
	padding: 33px 0 0;
	position: relative;
}
#content > div {
	background: url(../images/component_bg_bottom.png) no-repeat bottom  ;
	padding: 0 0 49px;
}
#content > div > div {
	background: url(../images/component_bg.png);
	padding: 1px 10px;
}

#component {
	float: left;
	width: 685px;
	margin-right: 30px;
}
#component.wide { width: 100%; 	margin-right: 0;}
#sidebar {
	background: url(../images/menu_middle.jpg) left repeat-y;
	float: left;
	width: 210px;
}
#sidebar > div {
	background: url(../images/menu_top.jpg) 0 0 no-repeat;
	padding: 1px 0 0;
}
#sidebar > div > div {
	background: url(../images/menu_bottom.jpg) left bottom no-repeat;
	padding: 0 0 0 35px;
	zoom: 1;
}

#social {
	position: absolute;
	bottom: -13px;
	right: 0;
}
#social_spacer { height: 171px; width: 100%; }


#bottom { position: relative; }
#bottom > .inner {
	background: url(../images/bottom_shadow.png) bottom repeat-x;
	padding: 0 0 13px;
	height: 345px;
}

#footer_spacer { height: 140px; width: 100%; }
#footer {
	background: #1f1f1f url(../images/footer-bg.jpg) repeat-x center top;
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;
}
#footer > .inner {
	background: url(../images/footer.jpg) no-repeat center top;
	height: 140px;
	width: 100%;
}

#footer > .inner > div {
	margin: 0 auto;
	padding: 55px 0 0;
	width: 970px;
}
