.moduletable {
	margin: 1em 0;
}



/* @group menu */
.moduletable.menu {
	margin: 0;
	padding: 0;
}


.moduletable.menu ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
}

.moduletable.menu li {
	float: left;
	padding: 0 10px;
	margin: 0;
}
/* @group drop menu */
.moduletable.dropmenu li {
	position: relative;
}
.moduletable.dropmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	
	display: none;
}
.moduletable.dropmenu ul li:hover ul {
	display: block;
}
.moduletable.dropmenu li li {
	float: none;
}
/* @end */
/* @end */

/* @group Header Modules */
#header .logo {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

#header .lang {
	position: absolute;
	top: 0;
	right: 0;
}
#header .lang ul { list-style: none; }
#header .lang li { display: inline; padding: 0 10px; margin: 0; }
#header .lang li { display: inline; padding: 0 10px; margin: 0; }

/* @end */

/* @group Top Menu */
#menu .moduletable.menu ul {}
#menu .moduletable.menu li {
	padding: 0;
}
#menu .moduletable.menu li > a,
#menu .moduletable.menu li > span {
	display: block;
	width: 316px;
	height: 54px;
	margin: 5px 0 0;
	padding: 0;
	
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	
	border-top: 5px solid white;
}

#menu .moduletable.menu li > a > span,
#menu .moduletable.menu li > span > span { line-height: 54px; }

#menu .moduletable.menu li:first-child > a,
#menu .moduletable.menu li:first-child > span { border-top-color: #0030e9; }
#menu .moduletable.menu li:first-child + li > a,
#menu .moduletable.menu li:first-child + li > span { border-top-color: #00ac00; }
#menu .moduletable.menu li:first-child + li + li > a,
#menu .moduletable.menu li:first-child + li + li > span { border-top-color: #efe500; }
/* @end */

/* @group bottom modules */
#bottom .moduleBlock {
	width: 316px;
	float: left;
	margin: 0;
}
#bottom .moduleBlock .inner {}
#bottom .moduleBlock .title {
	margin: 24px 0 0;
}
#bottom .moduleBlock.blue .title { background-color: #0030e9; }
#bottom .moduleBlock.green .title { background-color: #00ac00; }
#bottom .moduleBlock.yellow .title { background-color: #efe500; }

#bottom .moduleBlock h3 {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 33px;
	color: white;
	text-align: center;
}
#bottom .moduleBlock .body {
	padding: 20px 24px;
}
#bottom .moduleBlock h1, #bottom .moduleBlock h2,
#bottom .moduleBlock h3, #bottom .moduleBlock h4 { color: white; }
/* @end */

/* @group footer modules */
#footer .moduletable { margin: 0; }

#footer .menu {
	text-align: center;
	margin: 0 0 8px;
	padding: 0 0 8px;
	background: url(../images/footer_divider.png) bottom no-repeat;
}
#footer .menu li { float: none; display: inline; }

#footer .copyright { float: left; }
#footer .site_by { float: right; }
/* @end */