body {
	background: black url(../images/splash.jpg) no-repeat;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: 0;
}

#content {
	margin-top: 100px;
	background: url(../images/splash_bg.png) top center repeat-x;
}
#content > div {
	height: 256px;
	margin: 0 auto;
	padding-top: 38px;
	width: 454px;
}

#logo {
	float: right;
}

#footer {
	font-size: 10px;
	margin: 0 auto;
	width: 454px;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

ul {
	font-size: 44px;
	list-style: none;
	margin: 58px 0 0;
	padding: 0;
}

li {
	background: url(../images/splash_bullet.png) 0 center no-repeat;
	padding: 0 0 0 27px;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}
a img { border: none; }
