label {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

input[type=text], input[type=password],
textarea {
	color: #666;
	padding: 3px;
	margin: 0 0 10px 0;
	width: 200px;
	font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus,
textarea:focus { }

input[type=radio], input[type=checkbox] {
	clear: both;
	float: left;
	margin: 5px 10px 4px 0;
}

input[type=file] {
	margin: 0 0 10px 0;
}

input[type=submit], button {
	margin-top: 1em;
	padding: 3px 2em 5px;
}