html, body {
	height: 100%;
}

body {
	background: url(../images/body_bg.jpg) repeat-x;
	font-family: calibri;
}

#wrapper {
	width: 1105px;
	margin: 0 auto;
	min-height: 100%;
	background: url(../images/curve_bottom.png);
}
#wrapper > div {
	background: white url(../images/body_bg.jpg) repeat-x;
}

#wrapper2 {
	background: url(../images/wrapper_bg.png);
	padding: 17px 101px 23px 94px;
	
	position: relative;
}
#wrapper2 > div {
	margin: 0 36px;
	background: white url(../images/content_bg.jpg) bottom repeat-x;
	padding: 1px 0 4px;
	position: relative;
}

#header { width: 100%; }
#header > div {
	padding: 12px 10px 10px 12px;
}
#content {
	background: url(../images/content_bg_bottom.png) bottom center no-repeat;

	margin: 0 auto;
	padding:  0 0 4px;
}
#content > div {
	background: url(../images/content_bg_top.png) top center no-repeat;
	padding:  4px 0 0;
}
#content > div  > div {
	background: url(../images/content_bg.png) top center repeat-y;
	padding:  0 11px 0 12px;
}
#content > div > div > div > div {
	min-height: 579px;
	background: url(../images/trans-white.png);
}
#content > div > div > div > div > div { padding: 0 10px 10px; }
#content .com_calendar.wide { padding: 0; }

#leftstrip {}
#rightstrip {}

#footer {
	color: white;
	height: 169px;
	background: url(../images/curve.png) no-repeat;
	
	padding: 17px 30px 1px;
	position: relative;
}
#footer a { color: white; }

#title {
	margin-top: 10px;

	text-align: center;
	line-height: 1.4em;
	
	text-shadow: -1px -1px 0px black;
}
#title .moduletable { margin-top: 0; }

#menu {
	margin-top:  40px;
	font-size: 12px;
	text-align: center;
}

#social {
	position: absolute;
	bottom: 1em;
	left: 2em;
}

#copyright {
	position: absolute;
	bottom: 1em;
	right:  2em;
}