.moduletable {
	margin: 1em 0;
}



/* @group menu */
.moduletable.menu {
	margin: 0;
	padding: 0;
	
	height: 2em;
	line-height: 2em;
}


.moduletable.menu ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
}

.moduletable.menu li {
	display: inline;
	padding: 0 3px;
	margin: 0;
}
/* @group drop menu */
.moduletable.dropmenu li {
	position: relative;
}
.moduletable.dropmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	
	display: none;
}
.moduletable.dropmenu ul li:hover ul {
	display: block;
}
.moduletable.dropmenu li li {
	float: none;
}
/* @end */
/* @end */

/* @group */
#header .moduletable { margin: 0 0 0 7px;}
#header .moduletable.right { margin: 10px 0 0 10px; }

#social .moduletable {
	float: left;
	margin: 0 10px 0 0;
}

/* @end */

/* messages */
#system-message { margin: 0; padding: 0 0 10px; }
#system-message dt.message, #system-message dt.error,
#system-message dt.notice { display: none; }
#system-message dd { margin: 0; font-weight: bold; }
#system-message dd ul, #system-message dd.message ul {
	background: #C3D2E5;
	border: 3px solid #84A7DB;
	border-left: none; border-right: none;
	color: #05B;
	list-style: none;
	padding: 10px;
	margin: 0;
}
#system-message dd.error ul { background: #E6C0C0; border-color: #DE7A7B; color: #C00; }
#system-message dd.notice ul { background: #EFE7B8; border-color: #F0DC7E; color: #C00; }
#system-message dd li { margin: 0; }
/* @end */

/* user login */
.joomla .user .user_signup {
	margin: 10px 0;
}
.joomla .user .user_signin {
	width: 300px;
}
.joomla .user .user_signin ul { margin-bottom: 0; }
/* end */

#leftstrip .moduletable,
#rightstrip .moduletable { margin: 0; }